<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
  </head>
  <body>
    <div id="root">
      <div class="side-left">
        <div class="nav">
          <div class="account">
            <img src="./assets/img/avatar_io.jpg" alt="">
            <div class="account-information">
              <p>Walter</p>
            </div>
          </div>
          <div class="controls">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="notification">
          <i class="fas fa-bell-slash"></i>
          <div class="">
            <p class="text-notification">Ricevi notifiche di nuovi messaggi</p>
            <p class="desktop">Attiva le notifiche desktop</p>
          </div>
        </div>
        <div class="search">
          <button type="button" name="button"><i class="fas fa-search"></i></button>
          <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact">
        </div>
        <div class="contacts" >
          <div class="contact"
          v-for="(info, i) in contacts"
          @click="open_chat(i)"
          :class="(i == chat) ? 'active' : '' "
          v-if="info.name.toLowerCase().includes(searchContact.toLowerCase())"  >
            <div class="left">
              <img :src="'./assets/img/avatar' +info.avatar+ '.jpg'" :alt="info.name">
              <div class="info-contact">
                <p class="name-contact"> {{ info.name }}</p>
                <p class="messagge-contact"> {{info.messages[info.messages.length - 1].text}} </p>
              </div>
            </div>
            <div class="right">
              <span class="date"> {{info.messages[info.messages.length - 1].date}} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="side-right">
        <div class="nav">
          <div class="account" >
            <img :src="'./assets/img/avatar' +contacts[chat].avatar+ '.jpg'" alt="">
            <div class="account-information">
              <p>{{contacts[chat].name}}</p>
              <span class="date">Ultimo accesso oggi alle ore {{ lastAccess(chat) }}</span>
            </div>
          </div>
          <div class="controls">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="background">
            <div class="chat" v-for="(message, i) in contacts[chat].messages" :class="(contacts[chat].messages[i].status == 'received' ? 'received' : 'send')">
              <i class="fas fa-angle-down" @click="menu_msg(i)"></i>
              <p> {{ message.text }} </p>
              <span class="date">{{ message.date }}</span>
              <div v-if="show && i == menuIndex" class="option-msg">
                <p>Message Info</p>
                <p @click="deleteMsg(i)">Delete Message</p>
              </div>
            </div>
        </div>
        <div class="message-area">
          <i class="far fa-smile"></i>
          <input type="text" name="" value="" placeholder="Scrivi un messaggio" @keyup.enter="send_msg" v-model="send">
          <i class="fas fa-paper-plane" @click="send_msg"></i>
          <i class="fas fa-microphone"></i>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js" charset="utf-8"></script>
  </body>
</html>
